body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    margin-left: 30px;
    margin-right: 30px;
}

h1 {
    font-size: 30px;
    margin-bottom: 50px;
}

h5 {
    font-size: 20px;
}

.question-form {
    padding: 20px;
    background-color: white;
}

.item {
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.option label {
    margin-right: 30px;
    align-items: center;
}